body{
    background-image:url(../img/wallpaper2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
header{
    text-align: center;
    background-color: bisque;
    border-radius: 20px;
}
.Footer3{
    background-color: bisque;
    text-align: center;
    border-radius: 20px;
}